---
- name: install pre-requisites
  apt:
    pkg: "{{ netdata_script_dependencies }}"
    state: present
    update_cache: true
  become: yes

- name: Install GPG Key from Netdata
  apt_key:
    url: https://packagecloud.io/netdata/netdata/gpgkey
    state: present
  become: yes

- name: Add repository
  apt_repository:
    repo: deb https://packagecloud.io/netdata/netdata/{{ ansible_distribution | lower  }}/ {{ ansible_distribution_release }} main
    state: present
    filename: netdata
  become: yes

- name: Add source repository
  apt_repository:
    repo: deb-src https://packagecloud.io/netdata/netdata/{{ ansible_distribution | lower  }}/ {{ ansible_distribution_release }} main
    state: present
    filename: netdata
  become: yes

- name: Unhold Netdata on this version
  dpkg_selections:
    name: netdata
    selection: install

- name: Install netdata
  apt:
    name: "netdata={{ netdata_version }}"
    update_cache: true
  become: yes
  notify:
    - Restart Netdata

- name: Hold Netdata on this version
  dpkg_selections:
    name: netdata
    selection: hold
