---
- name: Gather variables for each operating system
  include_vars: "{{ item }}"
  with_items: "{{ ansible_os_family | lower }}.yml"
  tags:
    - always

- include: remove_netdata_edge_repository.yml
  when: ansible_os_family == "Debian" and ansible_distribution_version|int == 8

- include: install_package_debian.yml
  when: ansible_os_family == "Debian"

- include: install_package_centos.yml
  when: ansible_os_family == "RedHat"

- name: Copy SSL certificate to netdata SSL folder
  template:
    src: "server_ssl_cert.pem.j2"
    dest: "/etc/netdata/ssl/cert.pem"
    owner: "netdata"
    group: "netdata"
    mode: 0600
  become: yes

- name: Copy SSL key to netdata SSL folder
  template:
    src: "server_ssl_key.pem.j2"
    dest: "/etc/netdata/ssl/key.pem"
    owner: "netdata"
    group: "netdata"
    mode: 0600
  become: yes

- name: "Check installed packages (for Docker)"
  package_facts:
    manager: "auto"

- name: Add Netdata user to Docker group
  user:
    name: "netdata"
    groups: "docker"
    append: "yes"
  when: ansible_facts.packages | select('search', 'docker') | list | count > 0
