---
- name: Gather netdata version for each operating system version
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower }}_{{ ansible_distribution_version|int }}.yml"
    - main.yml

- name: Install Python apt bindings
  apt:
    pkg: "python3-apt"
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: "Check installed packages"
  package_facts:
    manager: "auto"

- name: Check if installed netdata version differs
  set_fact:
    is_different_version: "{{ true if ansible_facts.packages['netdata'] is not defined else (netdata_installation_use_nightly or ansible_facts.packages['netdata'][0].version != netdata_installation_version) }}"
  changed_when: false

- name: install pre-requisites
  apt:
    pkg:
      - gnupg
      - apt-transport-https
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: yes

- name: Remove old PackageCloud GPG keys (if present)
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/trusted.gpg.d/netdata.gpg
    - /etc/apt/trusted.gpg.d/netdata-edge.gpg
  become: yes

- name: Create keyrings directory
  file:
    path: /usr/share/keyrings
    state: directory
    mode: "0755"
  become: yes

- name: Download Netdata GPG key
  get_url:
    url: "https://repo.netdata.cloud/netdatabot.gpg.key"
    dest: /usr/share/keyrings/netdata-archive-keyring.gpg
    mode: "0644"
  become: yes

- name: Add Netdata repository
  template:
    src: "netdata.list.j2"
    dest: "/etc/apt/sources.list.d/netdata.list"
    owner: "root"
    group: "root"
    mode: 644

- name: Unhold Netdata on this version
  dpkg_selections:
    name: netdata
    selection: install
  when: ansible_facts.packages['netdata'] is defined and is_different_version

- name: Install netdata
  apt:
    allow_downgrade: true
    name: "{{ netdata_package_list | reject('equalto', omit) | join(', ') }}"
    update_cache: true
  become: yes
  when: is_different_version
  notify:
    - Restart Netdata

- name: Hold Netdata on this version
  dpkg_selections:
    name: netdata
    selection: hold
  when: not netdata_installation_use_nightly

- name: Copy SSL certificate to netdata SSL folder
  template:
    src: "server_ssl_cert.pem.j2"
    dest: "/etc/netdata/ssl/cert.pem"
    owner: "netdata"
    group: "netdata"
    mode: 0600
  when: netdata_installation_certificate is defined
  notify:
    - Restart Netdata
  become: yes

- name: Copy SSL key to netdata SSL folder
  template:
    src: "server_ssl_key.pem.j2"
    dest: "/etc/netdata/ssl/key.pem"
    owner: "netdata"
    group: "netdata"
    mode: 0600
  when: netdata_installation_certificate_key is defined
  notify:
    - Restart Netdata
  become: yes

- name: Create cloud configuration directory
  file:
    path: /var/lib/netdata/cloud.d
    state: "directory"
    owner: "netdata"
    group: "netdata"
    mode: "0770"
  when: netdata_installation_disable_cloud

- name: Copy cloud.conf
  copy:
    src: cloud.d/cloud.conf
    dest: /var/lib/netdata/cloud.d/cloud.conf
    owner: "netdata"
    group: "netdata"
    mode: "0770"
  notify:
    - "Restart Netdata"
  when: netdata_installation_disable_cloud

- name: Add Netdata user to Docker group
  user:
    name: "netdata"
    groups: "docker"
    append: "yes"
  when: netdata_installation_monitor_docker and (ansible_facts.packages['docker-ce'] is defined or ansible_facts.packages['docker-ee'] is defined)
  notify:
    - Restart Netdata
