---
name: CI
"on":
  pull_request:
  push:
  schedule:
    - cron: "30 8 * * 1"

defaults:
  run:
    working-directory: "simplificator.netdata_installation"

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - ubuntu2004
          - ubuntu2204
          - debian10
          - debian11
          - debian12
        scenario:
          - nightly
          - stable
        exclude:
          - distro: debian10
            scenario: nightly

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: "simplificator.netdata_installation"

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-docker "requests<2.32.2"

      - name: Run Molecule tests.
        run: molecule test --scenario-name ${{ matrix.scenario }}
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
